
img{
  padding:10px;
}

.profPic {
  margin:8px;
  border: 1px solid rgba(0,0,0, .2);
  border-radius: 50%;
  height:14vh;
  width:14vh;
  overflow: hidden;
  z-index: .1;
  text-align: center;
  vertical-align: middle;
  margin:0 10px 0 10px;
  display: inline-block;
}

.profileHeader img {
  height: 15vh;
  z-index: 0;
  padding:0;
}

.profileHeader {
  margin-top:100px;
  background-color: rgba(153,194,83,.5);
  padding:4px;
  border-radius: 4p;
}

.username {
  display: inline;
  text-decoration: underline;
  font-size:20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.statsContainer {
  border:1px solid black;
  display: inline-block; 
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 10%;
  padding:4px;
}

.postContainer {
  margin:0 auto;
  display: flexbox;
  flex-direction: row;
}

PostPreview {
  display: inline-block;
  padding:10px;
  margin:0 auto;
}