.profPic{
  border: 1px solid rgba(0,0,0, .2);
  border-radius: 50%;
  height:14vh;
  width:14vh;
  overflow: hidden;
  z-index: .1;
  text-align: center;
  vertical-align: middle;
  margin:0 10px 0 10px;
  display: inline-block;
}
.profileHeader img{
  height: 15vh;
  z-index: 0;
}

.username{
  display: inline;
  text-decoration: underline;
}
.statsContainer{
  border:1px solid black;
  display: inline-block; 
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 10%;
}
