.profile-container{

  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  
}

.profile-container > ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-container > ul > li{
  border: .5px solid lightgray;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  width: 200px;
  justify-content: center;
  margin: 5px;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

.link{
text-decoration: none;
color: black;
font-weight: bold;
}