nav {
  background-color: lightblue;
  padding-top: 5px;
  padding-bottom: 5px;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

#navbar-left {
  display: flex;
  gap: 25px;
}

#navbar-right {
  display: flex;
  gap: 25px;
  margin-right: 50px;
}

li {
  list-style-type: none;
  border: 2px solid black;
  border-radius: 8px;
  padding: 0 5px;
  text-align: center;
}