
img{
  height:80vh;
}
.comment-list{
  display:block;
}
.PostContainer{
  display: block;
  margin: 0 auto;
  text-align: center;

}
.comments{
display:flex;
flex-direction: column;

}
.caption{
  display: flex;
  margin:0 auto;
  background-color: rgba(179,25,201,.2);
  width: fit-content;
  padding:10px;
  border-top-right-radius:6px;
  border-top-left-radius: 6px;

}