.signup-form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  height: 400px;
  background-color: white;
  box-shadow: 20px 20px 50px 15px grey;
  gap: 5px;
  width:232px;
  text-align: center;
}
.form{
  
}

*{
  /* border: 1px solid red; */
}

.photo-input{
  display: flex;
  height: 35px;
  width: 95px;
  border-radius: 20px;
  background-color: var(--blueis-color);
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 13.33px;
  color: white;
}
.photo-input:hover{
  background-color: var(--green-color);
}

.photo-upload-button{
  display: none;
}

.submit-form-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;

}

.signup-button{
  width: 90px;
  height: 35px;
  background-color: var(--blueis-color);
  border: none;
  border-radius: 20px;
  color: white;
  justify-content: space-evenly;
}

.signup-button:hover{
  background-color: var(--green-color);
}

input{
  border: none;
  background-color: rgb(246, 244, 244);
  border-radius: 20px;
  height: 20px;
}

input:hover{
  background-color: rgb(226, 224, 224);
}

input:focus{
  outline: none;
  background-color: rgb(226, 224, 224);
}

.extra-gap{
  gap: 10px;
}
