p {
  margin: 8px 0;
}

h4 {
  text-align: center;
  margin-bottom: 8px;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.photo {
  width: 300px;
  height: auto;
}

.author {
  display: flex;
  gap: 50px;
  margin-bottom: 5px;
}

.update-delete-like {
  display: flex;
  gap: 25px;
  margin-top: 16px;
}

#post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .5px solid black;
  border-radius: 10px;
  margin: 50px 150px;
  padding: 10px 0;
  min-width: 340px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}